/* Importar Google font - Poppins & Noto */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;500;600;700&family=Poppins:wght@400;500;600&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: #0048f1;
}
::selection{
  color: #fff;
  background: #0048f1;
}
form{
  width: 650px;
  background: #fff;
  padding: 30px ;
  border-radius: 5px;
  box-shadow: 10px 10px 13px rgba(0,0,0,0.1);
}
form header{
  text-align: center;
  font-size: 28px;
  font-weight: 500;
  margin-top: 10px;
  color: #0048f1;
}
form .entrada-de-url{
  margin: 30px 0;
}
.entrada-de-url .titulo{
  font-size: 18px;
  color: #373737;
}
.entrada-de-url .campo{
  margin-top: 5px;
  height: 50px;
  width: 100%;
  position: relative;
}
.entrada-de-url .campo input{
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
  padding: 0 15px;
  font-size: 15px;
  background: #F1F1F7;
  border-bottom: 2px solid #ccc;
  font-family: 'Noto Sans', sans-serif;
}
.entrada-de-url .campo input::placeholder{
  color: #b3b3b3;
}
.entrada-de-url .campo .linha-inferior{
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 100%;
  background: #0048f1;
  transform: scale(0);
  transition: transform 0.3s ease;
}
.entrada-de-url .campo input:focus ~ .linha-inferior,
.entrada-de-url .campo input:valid ~ .linha-inferior{
  transform: scale(1);
}
form .area-de-visualizacao{
  border-radius: 5px;
  height: 220px;
  display: flex;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: 2px dashed #0018f1;
}
.area-de-visualizacao.activo{
  border: none;
}
.area-de-visualizacao .miniatura{
  width: 100%;
  display: none;
  border-radius: 5px;
}
.area-de-visualizacao.activo .miniatura{
  display: block;
}
.area-de-visualizacao.activo .icon,
.area-de-visualizacao.activo span{
  display: none;
}
.area-de-visualizacao .icon{
  color: #0018f1;
  font-size: 80px;
}
.area-de-visualizacao span{
  color: #0018f1;
  margin-top: 25px;
}
form .botao-baixar{
  color: #fff;
  height: 53px;
  width: 100%;
  outline: none;
  border: none;
  font-size: 17px;
  font-weight: 500;
  cursor: pointer;
  margin: 30px 0 20px 0;
  border-radius: 5px;
  background: #0048f1;
  pointer-events: none;
  transition: background 0.3s ease;
}
.botao-baixar:hover{
  background: #6616d0;
}
@media screen and (max-width: 460px){
  body{
    padding: 0 20px;
  }
  form header{
    font-size: 24px;
  }
  .entrada-de-url .campo,
  form .botao-baixar{
    height: 45px;
  }
  form .botao-baixar{
    font-size: 15px;
  }
  form .area-de-visualizacao{
    height: 130px;
  }
  .area-de-visualizacao .icon{
    font-size: 50px;
  }
  .area-de-visualizacao span{
    margin-top: 10px;
    font-size: 12px;
  }
}
